:host {
  display: block;
  min-height: 100vh;
  background: var(--primary-bg-color);
  padding: 40px;
  min-width: 1700px; 
}

.main-content {
  width: 1700px;
  margin: 0 auto; 
  padding: 0 20px;
}

.square-border {
  border-radius: 2.75rem;
  background: var(--secondary-bg-color);
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.square-border-without-padding {
  border-radius: 2.75rem;
  background: var(--secondary-bg-color);
  padding-top: 20px;
}


.square-border-cc-card {
  border-radius: 2.75rem;
  padding: 20px 20px 0 20px;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 1 1 50%;
  min-width: 0;
}

.column-multiple {
  flex: 1 1 25%;
  min-width: 0;
}

.flex-item-left {
  flex: none;
}

.barChartMargin {
  margin-right: 10px; // margin for tiles
}

.container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px 0 5px;
}

.barchart-color1 {
  height: 10px;
  width: 10px;
  background-color: #5470c6;
  border-radius: 50%;
}

.barchart-color2 {
  height: 10px;
  width: 10px;
  background-color: #73c0de;
  border-radius: 50%;

}

.text {
  font-size: var(--text-tertiary-font-size);
  color: var(--text-secondary-color);
}

.charts-section {
  margin-top: 10px; // margin for tiles
}

.cards-margin {
  margin-right: 20px;
  height: 220px; /* Set a fixed height for the card section */
}

.card-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 18px;
}

.cc-card-bg-color {
  background: hsl(240, 91%, 68%);
}

.cc-card-sub-title {
  color: var(--text-primary-color);
  font-size: var(--text-secondary-font-size);
  margin-bottom: 10px;
  margin-top: 15px;
}

.cc-card-height {
  height: 250px; /* Set a fixed height for the card */
}


p {
  margin: 0;
  padding: 0;
}

.ag-grid-section {
  width: 1620px;
  height: 300px;
  margin-top: 10px;
}

ag-grid-angular {
  margin-top: 20px;
  width: 1620px!important;
}

.basic-info-section {
  height: 380px; /* Set a fixed height for tiles */
}

.info-section {
  margin-top: 20px;
}

.primary-text {
  font-size: var(--text-primary-font-size);
  font-weight: 500;
  color: var(--text-primary-color);
}

.secondary-text {
  font-size: var(--text-secondary-font-size);
  color: var(--text-secondary-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.teritarty-text {
  font-size: var(--text-tertiary-font-size);
  color: var(--text-tertiary-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.secondary-text-with-primary-color {
  font-size: var(--text-secondary-font-size);
  color: var(--text-primary-color);
  font-weight: 450;
  margin-bottom: 10px;
}

.flex-row-container {
  display: flex; 
  flex-wrap: wrap; 
}

.flex-column-item {
  padding: 10px;
  flex: 1;
}

.flex-item-40 {
  flex: 2 1 0%;
 }

.flex-item-20 {
  flex: 1 1 0%;
}

.coupon-section-divider {
  margin-left: 20px;
}

.coupon-alt-text-space {
  margin-top: 25px;
}